pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
code .hll { background-color: #ffffcc }
code { background: #ffffff; }
code .c { color: #177500 } /* Comment */
code .err { color: #000000 } /* Error */
code .k { color: #A90D91 } /* Keyword */
code .l { color: #1C01CE } /* Literal */
code .n { color: #000000 } /* Name */
code .o { color: #000000 } /* Operator */
code .ch { color: #177500 } /* Comment.Hashbang */
code .cm { color: #177500 } /* Comment.Multiline */
code .cp { color: #633820 } /* Comment.Preproc */
code .cpf { color: #177500 } /* Comment.PreprocFile */
code .c1 { color: #177500 } /* Comment.Single */
code .cs { color: #177500 } /* Comment.Special */
code .kc { color: #A90D91 } /* Keyword.Constant */
code .kd { color: #A90D91 } /* Keyword.Declaration */
code .kn { color: #A90D91 } /* Keyword.Namespace */
code .kp { color: #A90D91 } /* Keyword.Pseudo */
code .kr { color: #A90D91 } /* Keyword.Reserved */
code .kt { color: #A90D91 } /* Keyword.Type */
code .ld { color: #1C01CE } /* Literal.Date */
code .m { color: #1C01CE } /* Literal.Number */
code .s { color: #C41A16 } /* Literal.String */
code .na { color: #836C28 } /* Name.Attribute */
code .nb { color: #A90D91 } /* Name.Builtin */
code .nc { color: #3F6E75 } /* Name.Class */
code .no { color: #000000 } /* Name.Constant */
code .nd { color: #000000 } /* Name.Decorator */
code .ni { color: #000000 } /* Name.Entity */
code .ne { color: #000000 } /* Name.Exception */
code .nf { color: #000000 } /* Name.Function */
code .nl { color: #000000 } /* Name.Label */
code .nn { color: #000000 } /* Name.Namespace */
code .nx { color: #000000 } /* Name.Other */
code .py { color: #000000 } /* Name.Property */
code .nt { color: #000000 } /* Name.Tag */
code .nv { color: #000000 } /* Name.Variable */
code .ow { color: #000000 } /* Operator.Word */
code .mb { color: #1C01CE } /* Literal.Number.Bin */
code .mf { color: #1C01CE } /* Literal.Number.Float */
code .mh { color: #1C01CE } /* Literal.Number.Hex */
code .mi { color: #1C01CE } /* Literal.Number.Integer */
code .mo { color: #1C01CE } /* Literal.Number.Oct */
code .sa { color: #C41A16 } /* Literal.String.Affix */
code .sb { color: #C41A16 } /* Literal.String.Backtick */
code .sc { color: #2300CE } /* Literal.String.Char */
code .dl { color: #C41A16 } /* Literal.String.Delimiter */
code .sd { color: #C41A16 } /* Literal.String.Doc */
code .s2 { color: #C41A16 } /* Literal.String.Double */
code .se { color: #C41A16 } /* Literal.String.Escape */
code .sh { color: #C41A16 } /* Literal.String.Heredoc */
code .si { color: #C41A16 } /* Literal.String.Interpol */
code .sx { color: #C41A16 } /* Literal.String.Other */
code .sr { color: #C41A16 } /* Literal.String.Regex */
code .s1 { color: #C41A16 } /* Literal.String.Single */
code .ss { color: #C41A16 } /* Literal.String.Symbol */
code .bp { color: #5B269A } /* Name.Builtin.Pseudo */
code .fm { color: #000000 } /* Name.Function.Magic */
code .vc { color: #000000 } /* Name.Variable.Class */
code .vg { color: #000000 } /* Name.Variable.Global */
code .vi { color: #000000 } /* Name.Variable.Instance */
code .vm { color: #000000 } /* Name.Variable.Magic */
code .il { color: #1C01CE } /* Literal.Number.Integer.Long */
