
* {
font-size : 1em;
font-family : monospace;
}
footer, .footer {
color : rgb(255, 255, 255, 0.6);
}
footer, .footer {
color : rgb(0, 0, 0, 0.6);
text-align : justify;
}
body {
background : #000;
background : rgb(30, 30, 49);
height : 100vh;
}
body {
background : #fff;
}
article header details :is(p, span) {
color : rgb(255, 255, 255, 0.6);
}
article header details :is(p, span) {
margin : 0;
color : rgb(0, 0, 0, 0.6);
}
body, a {
color : rgb(0, 0, 0, 0.8);
}
a[href*="http"]::after {
content : "⇱";
display : inline-block;
transform : rotate(90deg);
}
.wrapper {
max-width : 540px;
}
.main-menu {
display : inline;
}
.main-menu ul {
display : inline;
}
.main-menu li {
display : inline;
}
.main-menu :is(ul, li) {
padding : 0;
}
article p {
text-align : justify;
}
article img {
max-width : 300px;
}
h1, h2, h3, h4, h5, h6 {
font-weight : normal;
}
h1::before {
color : rgb(100, 100, 250, 1);
content : "# ";
}
h2::before {
color : rgb(200, 100, 100, 1);
content : "## ";
}
h3::before {
color : rgb(100, 200, 100, 1);
content : "### ";
}
h4::before {
color : rgb(100, 100, 200, 1);
content : "#### ";
}
.tags, .tags li {
display : inline;
margin : 0;
padding : 0;
}
.tags li::after {
content : ",";
}
.tags li:last-of-type:after {
content : "";
}
.simple-footnotes {
border-top : 1px solid rgb(255, 255, 255, 0.2);
border-top : 1px solid rgb(0, 0, 0, 0.2);
padding-top : 10px;
}
code {
background : rgb(0, 0, 0, 0.1);
color : rgb(100, 50, 50);
}
.codehilite code {
background : transparent;
}
strong::after, strong:before {
content : "**";
}
em::after, em:before {
content : "_";
}
@media (max-width: 640px) {
.main-menu li, .main-menu ul {
display : block;
}
}
