{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/theme/codehilite.css" />
{{ super() }}
{% endblock %}
{% block content %}
<article>
<header>
<h1><a title="you are here" href="/{{ article.url }}">{{ article.title }}</a></h1>
<details open>
    <summary>metadata</summary>
    <p>category: <a href="/{{ article.category.url }}">{{ article.category }}</a></p>
    <p>published: <time>{{ article.date|strftime('%Y-%m-%d') }}</time></p>
    {% if article.modified %}
    <p>
    modified: <time>{{ article.modified|strftime('%Y-%m-%d') }}</time></p>
    {% endif %}
    {% if article.tags %}
    <span>
        tags:
        <ul class="tags">
        {% for tag in article.tags %}
            <li><a href="/{{ tag.url }}">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
    </span>
    {% endif %}
</details>
</header>
<div class="cols">
{{ article.content }}
</div>
</article>
{% endblock %}
