<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/zoneoption/theme/style.css" />
    <title>
    {% if article %}
    {{ article.title }} -
    {% elif category %}
    category:{{ category }} -
    {% elif page %}
    {{ page.title }} -
    {% elif tag %}
    tag:{{ tag }} -
    {% endif %}{{ SITENAME }} </title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" contnet="noindex,nofollow" />
    {% endblock %}
</head>
<body>
	<div class="wrapper">
		<nav style="display: none" class="main-menu">
			<ul>
                {% if page_name and page_name == "index"%}
				<li><a class="current" href="/">{{ SITEURL }}</a></li>
                {% else %}
				<li><a href="/">{{ SITEURL }}</a></li>
                {% endif %}
				{% for category_item, articles in categories %}
                    {% if category and category == category_item %}
				    <li><a class="current" href="/{{ category_item.url }}">{{ category_item }}</a></li>
                    {% else %}
				    <li><a href="/{{ category_item.url }}">{{ category_item }}</a></li>
                    {% endif %}
				{% endfor %}
				{% for page_item in pages %}
                    {% if page and page.url == page_item.url %}
				    <li><a class="current" href="/{{ page_item.url }}">{{ page_item.title }}</a></li>
                    {% else %}
				    <li><a href="/{{ page_item.url }}">{{ page_item.title }}</a></li>
                    {% endif %}
				{% endfor %}
                <li><a href="/rss.xml" class="">rss</a></li>
			</ul>
		</nav>
    	<div id="content">
        <a name="top"></a>
        {% block content %}{% endblock %}
        <a href="#top">&#8963; top</a>
		<nav class="main-menu">
			<ul>
                <!--{% if page_name and page_name == "index"%}
				<li><a class="current" href="/"></a></li>
                {% else %}
				<li><a href="/">{{ SITEURL }}</a></li>
                {% endif %}-->
				{% for category_item, articles in categories %}
                    {% if category and category == category_item %}
				    <li><a class="current" href="/{{ category_item.url }}">{{ category_item }}</a></li>
                    {% else %}
				    <li><a href="/{{ category_item.url }}">{{ category_item }}</a></li>
                    {% endif %}
				{% endfor %}
				{% for page_item in pages %}
                    {% if page and page.url == page_item.url %}
				    <li><a class="current" href="/{{ page_item.url }}">{{ page_item.title }}</a></li>
                    {% else %}
				    <li><a href="/{{ page_item.url }}">{{ page_item.title }}</a></li>
                    {% endif %}
				{% endfor %}
                <li><a href="/rss.xml" class="">rss</a></li>
			</ul>
		</nav>
        <div class="footer">
            <p>
            &copy;
            2023
            henrique
            souza,
            except
            where
            otherwise
            stated.
            </p>
    	</div>
    	</div>
	</div>
    <script>
        document.body.innerText = "Please disable JavaScript to use this webiste"
    </script>
</body>
</html>
