{% extends "base.html" %}
{% block content %}
<article>
<header>
<h1><a href="/{{ category.url }}">category:{{ category }}</a></h1>
</header>
<nav class="article-list">
    <ul>
    {% for article in articles %}
        <li>{{ article.date|strftime('%Y-%m-%d') }} <a href="/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
</nav>
</article>
{% endblock %}
