{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="0;url=./category/articles" />
{% endblock %}
{% block content %}
<nav class="article-list">
    <ul>
    {% for article in articles %}
        <li>{{ article.date|strftime('%Y-%m-%d') }} <a href="/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
</nav>
{% endblock %}
